<div class="container">
    <div class="row">
        <div class="col-12 col-md-3"
             *ngIf="isSignedIn$ | async">
            <div class="list-group-flush">
                <a class="list-group-item list-group-item-action"
                   [routerLink]="['./']"
                   [routerLinkActiveOptions]="{ exact: true }"
                   routerLinkActive="active">
                    Tableau de bord
                </a>
                <a class="list-group-item list-group-item-action"
                   [routerLink]="['./', 'orders']"
                   routerLinkActive="active">
                    Commande
                </a>
                <a class="list-group-item list-group-item-action"
                   [routerLink]="['./', 'address-book']"
                   routerLinkActive="active">
                    Adresse
                </a>
                <a class="list-group-item list-group-item-action"
                   [routerLink]="['./', 'details']"
                   routerLinkActive="active">
                    Information personnel
                </a>
                <a class="list-group-item list-group-item-action"
                   [routerLink]="['./', 'change-credentials']"
                   routerLinkActive="active">
                   Changer les informations d'identification
                </a>
                <a class="list-group-item">
                    <button class="btn btn-warning btn-sm btn-block" (click)="signOut()">Déconnexion</button>
                </a>
            </div>
        </div>
        <div class="col-12" [class.col-md-9]="isSignedIn$ | async">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
