@import "variables";


:host {
    display: block;
    margin-top: $spacer * 2;

    .registration-sent {
        text-align: center;
        padding: $spacer * 2;
    }
}

.pays {
    width: 134%;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 120px;
    height: 80px;
    margin-top: 20px;
    margin-left: 45px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}


.line {
    height: 1px;
    width: 50%;
    background-color: #e83f5e;
    margin-top: 10px
}

.or {
    width: auto;
    font-weight: bold;
    cursor: pointer;
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #c71515;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #dd1010;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: rgb(233, 35, 35);
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #c21414
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}


.retour {
    background-color: #000000;
    width: 150px;
    color: #fff;
    border-radius: 2px;
}

::ng-deep .mat-step-header {
    cursor: pointer;
    background-color: crimson;
    color: white;
    font-size: large;
    border-color: white;
    height: 10%;
    margin-bottom: 1%;
    margin-top: 1%;
    height: 40px;
  }

  
  .loading {
    $colors: #ff7e7e, #f08989, #b44646, #ba0f0f, #800000, #500601, #000;
    display: flex;
    margin-top: 30%;
    margin-bottom: 40%;
  
    .dot {
      position: relative;
      width: 2em;
      height: 2em;
      margin: 0.8em;
      border-radius: 50%;
  
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        animation: wave 2s ease-out infinite;
      }
  
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          background: nth($colors, $i);
  
          &::before {
            animation-delay: $i * 0.2s;
          }
        }
      }
    }
  }
  
  @keyframes wave {
    50%,
    75% {
      transform: scale(2.5);
    }
  
    80%,
    100% {
      opacity: 0;
    }
  }
  
  // card3
  .card3 {
    box-shadow: 0px 4px 8px 0px #9b9a9a;
}

.total {
    color: #1a1a1a;
    font-size: 13px;
    margin-top: 6px
}

.butn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    background: #800606;
    color: #fff;
    transition: all 0.5s
}

.butn:hover {
    background: #410101;
    color: #fff;
    transform: scale(1.1)
}