<table class="table">
    <thead>
    <tr>
        <th scope="col">Code de  commande</th>
        <th scope="col">Status</th>
        <th scope="col">Total avec taxe</th>
        <th scope="col">Dérnier mise à jour</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders$ | async">
        <th scope="row">
            <a [routerLink]="['./', order.code]">
                {{ order.code }}
            </a>
        </th>
        <td *ngIf="order.state === 'Shipped'" style="color: hotpink;">Expédié</td>
        <td *ngIf="order.state === 'Delivered'" style="color: green;">Livré</td>
        <td *ngIf="order.state === 'PaymentSettled'" style="color: greenyellow;">Paiement réglé</td>
        <td>{{ order.totalWithTax | formatPrice }}</td>
        <td>{{ order.updatedAt | date: 'short' }}</td>
    </tr>
    </tbody>
</table>
