<form [formGroup]="addressForm">
    <div class="form-group row">
        <vsf-comp-location-google (setAddress)="getAddress($event)" adressType="'address'"></vsf-comp-location-google>
    </div>
    <div class="form-group row">
        <span style="text-align: center; cursor: pointer; color: brown; text-align: center;" (click)="currentPosition()">
            Utilisé positon actuel
        </span> 
    </div>
    <ng-container *ngIf="show">
        <div class="form-group row">
            <label for="fullName" class="col-sm-3 col-form-label">Nom complet</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="fullName" id="fullName">
            </div>
        </div>
        <div class="form-group row">
            <label for="company" class="col-sm-3 col-form-label">Company</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="company" id="company">
            </div>
        </div>
        <div class="form-group row">
            <label for="streetLine1" class="col-sm-3 col-form-label">rue ligne 1</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="streetLine1" id="streetLine1">
            </div>
        </div>
        <div class="form-group row">
            <label for="streetLine2" class="col-sm-3 col-form-label">rue ligne 2</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="streetLine2" id="streetLine2">
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-3 col-form-label">Ville</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="city" id="city">
            </div>
        </div>
        <div class="form-group row">
            <label for="province" class="col-sm-3 col-form-label">Province</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="province" id="province">
            </div>
        </div>
        <div class="form-group row">
            <label for="postalCode" class="col-sm-3 col-form-label">Code postal</label>
            <div class="col-sm-9">
                <input class="form-control" readonly formControlName="postalCode" id="postalCode">
            </div>
        </div>
        <div class="form-group row">
            <label for="countryCode" class="col-sm-3 col-form-label">Pays</label>
            <div class="col-sm-9">
                <select class="custom-select" readonly formControlName="countryCode" id="countryCode">
                    <option *ngFor="let country of availableCountries" [ngValue]="country.code">
                        {{ country.name }}
                    </option>
                </select>
            </div>
        </div>
    </ng-container>
    <div class="form-group row">
        <label for="phoneNumber" class="col-sm-3 col-form-label">Numero telephone</label>
        <div class="col-sm-9">
            <input class="form-control" formControlName="phoneNumber" id="phoneNumber">
        </div>
    </div>
</form>